In [210]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
le = LabelEncoder()
df = pd.read_csv('compas-scores-two-years.csv')

columns = ['sex','race','age_cat', 
           'priors_count','juv_fel_count','r_charge_degree','two_year_recid']


df['sex'] = le.fit_transform(df['sex'])
df['age_cat'] = le.fit_transform(df['age_cat'])
#df['race'] = le.fit_transform(df['race'])
df['race'] = df['race'].transform(lambda x: 1 if x=='Caucasian' else 0)
df['r_charge_degree'] = df['r_charge_degree'].transform(lambda x: '0' if str(x)=='nan' else x)
df['r_charge_degree'] = le.fit_transform(df['r_charge_degree'])
df = df[columns]
# df['juv_fel_count'] = df['juv_other_count'] + df['juv_misd_count'] + df['juv_fel_count'] 
# df = df.drop(columns=['juv_other_count','juv_misd_count'])
model = LogisticRegression()
X = df.to_numpy()[:,:-1]
y = df.to_numpy()[:,-1]
X_train, X_text, y_train, y_test = train_test_split(X, y,train_size=0.8)
model.fit(X_train, y_train)
print('Acc',model.score(X_text, y_test))
pred = model.predict(X_text)
print('F1',f1_score(y_test,pred))

Acc 0.963963963963964
F1 0.9627507163323782

In [176]:
df1=pd.read_csv('compas')
df1=df1[['sex','race','age', 
           'priors_count','juv_fel_count','c_charge_degree','label']]
model = LogisticRegression()
X = df1.to_numpy()[:,:-1]
y = df1.to_numpy()[:,-1]
X_train, X_text, y_train, y_test = train_test_split(X, y,train_size=0.8)
model.fit(X_train, y_train)
print('Acc',model.score(X_text, y_test))
pred = model.predict(X_text)
print('F1',f1_score(y_test,pred))

Acc 0.6431046431046431
F1 0.5661331086773378

In [183]:
df.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event', 'two_year_recid'],
      dtype='object')

In [206]:
df

,sex,race,age_cat,priors_count,juv_other_count,juv_misd_count,juv_fel_count,r_charge_degree,two_year_recid
0,1,0,1,0,0,0,0,10,0
1,1,0,0,0,0,0,0,3,1
2,1,0,2,4,1,0,0,7,1
3,1,0,2,1,0,1,0,10,0
4,1,0,0,2,0,0,0,10,0
...,...,...,...,...,...,...,...,...,...
7209,1,0,2,0,0,0,0,10,0
7210,1,0,2,0,0,0,0,10,0
7211,1,0,1,0,0,0,0,10,0
7212,0,0,0,3,0,0,0,10,0
7213,0,0,2,2,0,0,0,8,1