In [40]:
import numpy as np
import pandas as pd
import glob, re

for dataset in  ['Adult','Compas','Law','Student','Heart',]:
#     if dataset!='Adult':continue
    if dataset == 'Adult':
        alg_list = ['pc','ges','simy']
        sens_att = 'sex'
    elif dataset == 'Compas':
        alg_list = ['pc','ges','pc']
        sens_att = 'race'
    elif dataset == 'Bank':
        alg_list = ['ges','simy','pc']
        sens_att = 'age'
    elif dataset == 'Law':
        alg_list = ['ges','simy']
        sens_att = 'sex'
    elif dataset == 'Student':
        alg_list = ['simy','pc']
        sens_att = 'sex'
    elif dataset == 'Heart':
        alg_list = ['ges']
        sens_att = 'sex'



    res_df = pd.DataFrame(columns=['EOD','EOD_None','EOD_diff','EOD_diff_abs', 'acc_diff', 'f1_diff'])
    for Algorithm in alg_list:

        for filename in glob.glob('./'+dataset+'_Analysis/RQ2/TO_SVM_AI/'+Algorithm+'_TO_EOD_'+'*.npy'):
            

            file_num = int(re.findall(r'\d+', filename.split('/')[-1])[0])


    #         print(file_num)
            res = np.load(filename)
            
            res_df = pd.concat([res_df,pd.DataFrame(res,columns=['EOD','EOD_None','EOD_diff','EOD_diff_abs', 'acc_diff', 'f1_diff'])])

    res_df.reset_index(drop=True,inplace=True)
    max_ind = res_df[res_df['EOD_diff']==res_df['EOD_diff'].max()].index[0]
    min_ind = res_df[res_df['EOD_diff']==res_df['EOD_diff'].min()].index[0]

    # # print(' {SelectKbest_pert_comp} & \\textbf{SelectKbest_EOD_max} & {SelectKbest_ACC_max} & {SelectKbest_F1_max} &  {SelectFpr_pert_comp} & \\textbf{SelectFpr_EOD_max} & {SelectFpr_ACC_max} & {SelectFpr_F1_max} & {SelectPercentile_pert_comp} & \\textbf{SelectPercentile_EOD_max} & {SelectPercentile_ACC_max} & {SelectPercentile_F1_max} & {drop_pert_comp} & \\textbf{drop_EOD_max} & {drop_ACC_max} & {drop_F1_max}\\\\'.format(SelectKbest_pert_comp=SelectKbest_pert_comp,SelectKbest_EOD_max=SelectKbest_EOD_max,SelectKbest_ACC_max=SelectKbest_ACC_max,SelectKbest_F1_max=SelectKbest_F1_max,SelectFpr_pert_comp=SelectFpr_pert_comp,SelectFpr_EOD_max=SelectFpr_EOD_max,SelectFpr_ACC_max=SelectFpr_ACC_max,SelectFpr_F1_max=SelectFpr_F1_max,SelectPercentile_pert_comp=SelectPercentile_pert_comp,SelectPercentile_EOD_max=SelectPercentile_EOD_max,SelectPercentile_ACC_max=SelectPercentile_ACC_max,SelectPercentile_F1_max=SelectPercentile_F1_max,drop_pert_comp=drop_pert_comp,drop_EOD_max=drop_EOD_max,drop_ACC_max=drop_ACC_max,drop_F1_max=drop_F1_max))
    # # print('&  & {SelectKbest_EOD_min} & {SelectKbest_ACC_min} & {SelectKbest_F1_min} &  & {SelectFpr_EOD_min} & {SelectFpr_ACC_min} & {SelectFpr_F1_min} &  & {SelectPercentile_EOD_min} & {SelectPercentile_ACC_min} & {SelectPercentile_F1_min} &  & {drop_EOD_min} & {drop_ACC_min} & {drop_F1_min} \\\\'.format(SelectKbest_EOD_min=SelectKbest_EOD_min,SelectKbest_ACC_min=SelectKbest_ACC_min,SelectKbest_F1_min=SelectKbest_F1_min,SelectFpr_EOD_min=SelectFpr_EOD_min,SelectFpr_ACC_min=SelectFpr_ACC_min,SelectFpr_F1_min=SelectFpr_F1_min,SelectPercentile_EOD_min=SelectPercentile_EOD_min,SelectPercentile_ACC_min=SelectPercentile_ACC_min,SelectPercentile_F1_min=SelectPercentile_F1_min,drop_EOD_min=drop_EOD_min,drop_ACC_min=drop_ACC_min,drop_F1_min=drop_F1_min))



    print('{Dataset} max  {eod_max} & {max_acc} & {max_f1}'.format(eod_max=round(res_df.iloc[max_ind]['EOD_diff'],2),max_acc=round(res_df.iloc[max_ind]['acc_diff'],2),max_f1=round(res_df.iloc[max_ind]['f1_diff'],2),Dataset=dataset))
    print('{Dataset} min  {eod_min} & {min_acc} & {min_f1}'.format(eod_min=round(res_df.iloc[min_ind]['EOD_diff'],2),min_acc=round(res_df.iloc[min_ind]['acc_diff'],2),min_f1=round(res_df.iloc[min_ind]['f1_diff'],2),Dataset=dataset))
    print('\n')

Adult max  0.17 & -0.01 & -0.02
Adult min  -0.22 & 0.03 & 0.4


Compas max  0.16 & -0.02 & 0.01
Compas min  -0.05 & -0.02 & 0.01


Law max  0.0 & -0.0 & 0.0
Law min  -0.07 & -0.02 & -0.0


Student max  0.09 & 0.01 & 0.0
Student min  -0.02 & -0.01 & -0.01


Heart max  0.04 & 0.0 & 0.02
Heart min  -0.19 & 0.07 & 0.46

In [22]:
res_df

Empty DataFrame
Columns: [EOD, EOD_None, EOD_diff, EOD_diff_abs, acc_diff, f1_diff]
Index: []

In [45]:
res_df[res_df['EOD_diff']==res_df['EOD_diff'].min()]

      EOD  EOD_None  EOD_diff  EOD_diff_abs  acc_diff  f1_diff
7 -0.1256   -0.0074   -0.1182        0.1078     -0.01   -0.016

In [51]:
res_df.reset_index(drop=True,inplace=True)

        EOD  EOD_None      EOD_diff  EOD_diff_abs  acc_diff  f1_diff
0    0.0632   -0.0014  6.460000e-02  5.260000e-02    -0.006   -0.006
1    0.0604   -0.0040  6.440000e-02  5.120000e-02    -0.002   -0.004
2    0.0710    0.0026  6.840000e-02  6.240000e-02    -0.008   -0.004
3    0.0652   -0.0056  7.080000e-02  5.000000e-02    -0.006   -0.006
4    0.0670    0.0070  6.000000e-02  5.640000e-02     0.000   -0.008
..      ...       ...           ...           ...       ...      ...
795 -0.0032   -0.0070  3.800000e-03  6.000000e-04     0.000   -0.002
796 -0.0104   -0.0102 -2.000000e-04  2.200000e-03     0.000    0.002
797  0.0002   -0.0040  4.200000e-03 -1.400000e-03     0.000   -0.002
798 -0.0050    0.0002 -5.200000e-03  1.600000e-03     0.000    0.000
799 -0.0184   -0.0184 -3.469447e-19  3.469447e-19    -0.002   -0.004

[800 rows x 6 columns]

In [38]:
res

array([[-0.2362, -0.1194, -0.1168,  0.1168, -0.004 , -0.016 ],
       [-0.2396, -0.128 , -0.1116,  0.1116, -0.002 , -0.012 ],
       [-0.2302, -0.1174, -0.1128,  0.1128, -0.004 , -0.014 ],
       [-0.252 , -0.1202, -0.1318,  0.1318, -0.004 , -0.02  ],
       [-0.237 , -0.1276, -0.1094,  0.1094, -0.004 , -0.016 ],
       [-0.2252, -0.122 , -0.1032,  0.1032,  0.    , -0.01  ],
       [-0.2498, -0.1266, -0.1232,  0.1232, -0.002 , -0.018 ],
       [-0.2388, -0.1276, -0.1112,  0.1112, -0.004 , -0.018 ],
       [-0.2464, -0.1334, -0.113 ,  0.113 ,  0.    , -0.012 ],
       [-0.25  , -0.131 , -0.119 ,  0.119 , -0.002 , -0.016 ]])